<!doctype html>
<html>
<head>
  <title>{% block title %} Rubbish {% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  
  <hr>

  <ul>
    {% for message in get_flashed_messages() %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>

  {% block content %} put your content here {% endblock %}

  <footer>{{session.get("user","")}}<a href="/logout">LOG OUT</a></footer>

</body>
</html>