<!DOCTYPE html>
<html class='use-all-space'>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset='UTF-8'>
    <title>TomTom JavaScript SDK - Switching Tiles</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel='stylesheet' type='text/css' href='sdk/map.css' />
    <link rel='stylesheet' type='text/css' href='elements.css'>
    <script src='sdk/tomtom.min.js'></script>
    <style>
        label {
            display: flex;
            align-items: center;
            margin: 2px;
        }
        select {
            flex: auto;
            margin-left: 10px;
        }
    </style>
</head>
<body class='use-all-space'>
    <div id='map' class='use-all-space'></div>
    <script>
        // Define your product name and version
        tomtom.setProductInfo('<your-product-name>', '<your-product-version>');
        var map = tomtom.map('map', {
            key: '<your-tomtom-API-key>',
            source: 'vector',
            basePath: '<your-tomtom-sdk-base-path>'
        });

        var languageLabel = L.DomUtil.create('label');
        languageLabel.innerHTML = 'Maps language';
        var languageSelector = tomtom.languageSelector.getHtmlElement(tomtom.globalLocaleService, 'maps');
        languageLabel.appendChild(languageSelector);
        tomtom.controlPanel({
            position: 'bottomright',
            title: 'Settings',
            collapsed: true,
            closeOnMapClick: false
        })
            .addTo(map)
            .addContent(languageLabel);

    </script>
</body>
</html>